body{
    font-family: Arial, sans-serif;
    font-size: .75em;
    background-color: rgb(246, 246, 246)
}
div{
    display: block;
}
#header{
    /* height:14vh; */
    width:100%;
    background-color: #077A9C;
}
.nopadding{
    padding:0 !important
}
a{
    line-height: inherit;
    height: inherit;
}

.header-top{
    
    height:30px;
}
.header-top .topNav{
    height: inherit;
    display: block;
    background: transparent;
    
}

.header-top .nav-top{
    background: transparent!important
}
.header-top .textcontainer{
    color:white;
    margin-left: 17vw;
    text-transform: uppercase;
    font-size:.8em;
    line-height:2em;
    font-weight: 400;
    margin-top:10px;
    /* padding-top:1.5em */
}
.language{
    position: relative;
}
.header-top .cornerpiece{
    width:0;
    height: 0;
    border-style: solid;
    border-width:0 40px 30px 0;
    position: absolute;
    top:0;
    left:-40px;
    border-color:transparent #055871 transparent transparent;
}
.header-top .nav-top{
    /* background-color: #077A9C; */
    height: inherit;
    position: relative;
    
}
.header-top .nav-top .rightnav{
    background: #055871;
    height:30px
}
.rightnav li{
    height: 30px;
}
#langdrop{
    height:90px;
    top:30px!important;
}
#currdrop{
    height:120px;
    top:30px!important
}
#langdrop li{
    height:30px;
    min-height:30px;
}
#langdrop li a{
    padding: 8px 12px;
    line-height: 18px
}
#currdrop li{
    height:30px;
    min-height:30px;
}
#currdrop li a{
    padding: 8px 12px;
    line-height: 18px
}
.row{
    margin-bottom:0px!important
}
.header-main{
    height:50px;
    background: #077A9C;
    margin-bottom: 0px!important
}
.logodiv{
    margin-top:-25px
}
img.mainLogo{
    max-height: 65px;
   
    /* margin-left: 25px */
    margin:0 auto;
    display: block
}
.rightMainNav{
    display: inline-block;
    vertical-align: bottom;
  
   
}
.rightMainNav li{
   display: inline-block;
    line-height: 18px;
    vertical-align: bottom;
    margin: 0 4px
}

ul.rightMainNav li:first-child a{
    border-bottom: #7eccdc solid 6px;
    
}
ul.rightMainNav li a:hover{
    border-bottom: #7eccdc solid 6px;
    background-color:transparent!important;
    
}
.rightMainNav li a{
    display: inline-block;
    padding: 16px 10px 10px;
    font-size: 1.2em;
    line-height: 18px;
    vertical-align: bottom;
    font-weight: 600;
    color:white;
    text-transform: uppercase;
    position: relative;
}
#searchbarTop .input-field .prefix{
    width:0rem!important;
    top:.4rem;
    left: 0.8rem;
    font-size:1.5rem;
    color: #077A9C;
    
}
#searchbarTop .input-field{
    height:30px;
    margin-top:10px;
    margin-bottom: 0;
    background: white;
}
#searchbarTop .input-field input{
    height:30px;
    margin-top:0px;
    margin-bottom: 0px;
    background: white;
    border-bottom:none!important;
    padding-left: 20px
}
/* Header End */
.carouselmain .indicators{
    top:190px;
    
}
.carouselmain .indicators .indicator-item{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.555)
}
.mainBody{
    padding-top:50px
}
.mainText{
    color:#666;
    text-align: center;
    font-size: 4vh
}
.subText{
    color:#aaaead;
    text-align: center;
    font-size: 2.5vh
}
.optionsgroup{
    padding:0 30px!important
}
.optionsgroup .optionsgroupitem{
    padding:10px 15px;
    font-size:1.5em;
    background: white;
    margin: 5px 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.247)
}
.optionsgroup .optionsgroupitem span{
    border-left: solid 3px #7eccdc;
    padding-left:15px;
    color: rgb(77, 77, 77);
    text-transform: uppercase
}
.optionsgroup .optionsgroupitem{
    cursor: pointer;
}
.optionsgroup .optionsgroupitem:hover span{
    color: #7eccdc;

}
.option .col.s6{
    padding: 0px 25px
}
/* For Line behind title background */
h2{
margin-top:0px!important
}
h2.background{
    position: relative;
    z-index: 1;
}
h2.background:before{
    border-top:2px solid #dfdfdf;
    content :"";
    margin: 0 auto;
    position: absolute;
    top:55%;
    left: 0;
    right: 0;
    bottom: 0;
    width:95%;
    z-index: -1;
}
h2.background span{
    background: rgb(246, 246, 246);
    margin-left:5vw;
    font-size:1rem;
    padding:0 20px;
    text-transform: uppercase;
    font-weight: 600
}
@media (max-width:1024px){
    .topNav .rightnav{
        display: none!important;
    }
    .header-main .col.s4{
        width: 50%!important;
       
    }
    .header-main .logodiv{
        width:25%!important;
        margin-left: 0!important
    }
    .header-top .textcontainer{
        margin-left: 26vw;
    }
    img.mainLogo{
        margin:0 auto;
    }
}
/* End */
/* New Product items */
.newProductShowcase{
    padding: 0 35px;
    margin-top:-20px
}

.newProductShowcase .col.s2{
    width:20%!important;
    padding: 0 20px;
}
@media (max-width:700px){
    .options .col.s6{
        width:100%!important
    }
}
@media only screen and (max-width:1024px){
    .newProductShowcase .col.s2{
        width:33%!important;
       
    }
}
@media only screen and (max-width:700px){
    .newProductShowcase .col.s2{
        width:50%!important;
       
    }
    .mainProductDiv .imgContain{
        width:100%!important
    }
    .mainProductDiv .productDetail{
        font-size:80%;
        width:100%!important;
        margin-top:30px
    }
}
@media (max-width:500px){
    .newProductShowcase .col.s2{
        width:100%!important;
       
    }
}
.newProductItem{
    background: white;
    max-height: 450px!important;
    position: relative;
    margin-top:30px
}
.productItemImage{
    max-width: 327px;
    max-height: 327px;
}
.newProductItem:hover{
    
    transform: scale(1.05);
    transition:  ease;
}
.newProductItem a.brandlogo{
    display:block;
    height: 40px;
    text-align: center
}

.productItemCaption{
    height:55px
}
.productItemCaption span.productName{
    overflow:hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    text-align: center;
    font-stretch: 100%;
    display: block
}
.productItemCaption span.brand{
    overflow:hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    text-align: center;
    font-stretch: 100%;
    display: block;
    color: rgb(153, 153, 153)
}
.newProductItem .newTag{
    position: absolute;
    top:5px;
    left: -5px;
}
.newProductItem .newTag .icon.new{
    background-image: url("../images/new-video.png");
    background-position: -54px 0;
    width: 54px;
    height: 24px;
}
/* Product showcase end */
/* Trend Showcase Start */
.trendShowcase{
    padding:0 30px;

}
.trendShowcase .col.s3{
    padding:0 20px;
}
.newTrendItem.card .card-content{
    padding:10px 50px 10px 10px;
    
    
}
.newTrendItem.card .card-title{
    text-transform: uppercase;
    font-size:.75rem;
    line-height: 1rem!important;
    height: 60px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical */
}
.newTrendItem{
    cursor: pointer;
}
.newTrendItem:hover{
    transform: scale(1.03);
    transition: ease-in-out;
}
/* New Trends ends here */
/* Magazine content starts here */
.magazineShowcase{
    padding: 0 25px;
}
.magazineShowcase .col.s6{
    padding: 0 30px;
}
.magazineItem{
    height: 300px;
    position: relative;
    overflow: hidden;
    background: white;
}
.magazineItem .magImgcropped{
    position: absolute;
    top:-250px;
    bottom: -250px;
    left: -250px;
    right: -250px;
    margin:auto;
    max-height: 500%;
    max-width: 500%;
}
.magItem{
    background: white;
    cursor: pointer;
}
.magazineItemCaption{
    text-transform: uppercase;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 15px;
    font-size: 0.8rem
}
/* Magazine content end */
.termsApply{
    margin-top:3rem;
    margin-bottom:10px;
    text-align: center;
    font-size: 0.92em;
    color:#999
}
/* For Brand carousel */
.middle-indicator{
    position: relative;
   top:25%
    
}
.middle-indicator-text{
    font-size:5rem;
}
a.middle-indicator-text{
    color:black!important;
}
.content-indicator{
    width: 65px;
    height:65px;
    background: none;
    border-radius: 50px;
}
.brandcarousel{
    padding:30px 40px;
    height: 80px!important;
}
.brandcarousel .carousel-item{
    max-height:60px!important;
    top:20px!important;
    text-align: center;
    vertical-align: middle;
    margin:0 auto;
    opacity: 1 !important;
}
.brandcarousel .carousel-item img{
    margin: 0 auto!important;
    /* height:100%; */
    display: inline-block;
    
}
/* Brand carousel ends here */
/* Footer starts */
.footer{
    background-color: #555;
}
.footer .footer-top{
    background-color: #555;
    text-align: center

}
.footer .footer-top .footer-top-item{
    display: inline-block;
    vertical-align: top;
}
.footer .footer-top .footer-top-left .footleft{
   min-width: 180px;
   padding: 30px 0;
   background-color: #4d4d4d;
   border-right: solid 1px #555
}
@media (max-width:700px){
    .footer .footer-top .footer-top-left .footleft{
        width:100%;
    }
}
.footer .footer-top .footer-top-left .footleft a{
    display: block;
    line-height: 5em;
    text-align: center;
    color:white;
    text-transform: uppercase;
    font-size: 0.9rem
}
.footer .footer-top .footer-top-item.footer-top-middle{
    min-width: 270px;
    margin:0 0 0 60px;
    padding: 20px 0 5px;
    list-style: none;
    text-align: left
}
@media (max-width:700px){
    .footer .footer-top .footer-top-item.footer-top-middle{
        margin: 0 auto!important;
        text-align: center
    }

}
.footer-top-item.footer-top-middle li{
    padding: 1px 0;
}
.footer-top-item.footer-top-middle li a{
    color:#fff;
    font-size: 0.8rem
}
.footer a:hover{
    color:rgb(156, 156, 156)!important
}
.footer-top-item.footer-top-right{
    padding-top: 40px;
    padding-bottom:20px
}

.footer-top-item.footer-top-right a{
    width:30px;
    height:30px;
    margin: 0 2px;
    display:inline-block;
    text-align: center;
    line-height: 2.1em;
    background-color:#676767;
    border-radius: 20px;
    color: white;
    vertical-align: middle
}
.footer-bottom{
    background:#424242
}
.footer-bottom .footerLogos{
    padding: 30px 0;
    text-align: center;
}
.footer-bottom .footerLogos .footerLogo{
    background-image: url('../images/footer-logos.png');

}
.footerLogo{
    display: inline-block;
    height: 55px;
    margin:0 15px;
    background-repeat: no-repeat;
}
.footerLogo.lg1{
    width:155px;
    padding: 0 80px 0 0 !important;
    background-position: 0 0;
    border-right: solid 1px rgb(246, 246, 246);
}
.footerLogo.lg2{
    width:64px;
    background-position: 0 -108px;
}
.footerLogo.lg3{
    width:57px;
    background-position: 0 -59px;
}
.footerLogo.lg4{
    width: 66px;
    background-position: 0 -215px;
}
.footerLogo.lg5{
    width:76px;
    background-position: 0 -165px;
}
.footerLogo.lg6{
    width:49px;
    background-position: 0 -264px;
}
.footerLogo.lg7{
    width: 59px;
    background-position: 0 -315px;
}
.footer .info{
    text-align: center;
    color: rgba(255, 255, 255, 0.25)
}



/* Category Page */
.categoryProducts{
    margin:20px 0px 50px!important;
}
.categoryTitle{
    
    font-size:4vh;
    margin-bottom:20px;
    position: relative;
    z-index: 1;
}
.categoryTitle:before{
    border-top:2px solid #dfdfdf;
    content :"";
    margin: 0 auto;
    position: absolute;
    top:50%;
    left: 0;
    right: 0;
    bottom: 0;
    width:95%;
    z-index: -1;
}
.categoryTitle span{
    background: rgb(246, 246, 246);
    padding:20px;
}
.newCategoryShowcase{
    padding: 0 35px;
    /* margin-bottom: 35px!important; */
}
.newCategoryShowcase .col.s2{
    width:20%!important;
    padding: 0 20px
}
@media only screen and (max-width: 1024px){
    .newCategoryShowcase .col.s2{
        width:33%!important;
    }
}
@media only screen and (max-width: 700px){
    .newCategoryShowcase .col.s2{
        width:50%!important;
    }
}
@media (max-width: 500px){
    .newCategoryShowcase .col.s2{
        width:100%!important;
    }
}
/* Product Details page */
.productDetails{
  
    margin:50px 0px 20px;
}
/* .productDetails{
  margin-top:100px;
  margin-bottom: 100px;;
  
    
} */
.mainProductDiv{
    padding:30px 70px;
    display: block
}
@media (max-width:1024px){
    .mainProductDiv{
        padding:30px 30px;
    }
}
.mainProductDiv .col.s5 img{
    margin: 0 auto!important;
    display: block;
}
.productDetail .productTitle{
    font-size: 2.5em;
    
}
.productDetail .productBrand{
    font-size: 2em;
   
}
.productDetail .productId{
    font-size: 2em;
}
.productDetail .productCategory{
    font-size: 2em;
}
.productDetail .productDealer{
    font-size: 2em;
}
.productDetail .productDescription{
    font-size: 1.5em;
}

.relatedProducts{
    margin-bottom: 50px
}
.optionsgroup.collapsible{
    box-shadow: none;
    border:none;
}
.optionsgroupitem .collapsible-header{
 padding:0;
 border-bottom:none;
 border:none
}
.optionsgroupitem .collapsible-body{
    padding-top: 0px;
    padding-bottom: 5px;
    padding-right: 0;
    border-bottom:none;
 
    line-height: 15px;

    padding-left:30px
}
.optionsgroupitem .collapsible-body li{
    margin-top:10px;
    padding-left: 30px;
    border-left: solid 3px #7eccdc;
    text-transform: uppercase
}
.optionsgroupitem .collapsible-body li a{
    color:rgb(77, 77, 77);
}
.optionsgroupitem .collapsible-body li a:hover{
    color:#7eccdc;
}

.collapsible-header{
    outline: none!important
}
@media (max-width:700px){
    #header .header-main .col.s4{
        width:100%!important;
        
        
    }
    #header .header-main .col.s4 #searchbarTop{
        padding-top:2vw;
        padding-bottom:2vw
    }
    #header .header-main .col.s4 #searchbarTop .input-field{
        margin:0 auto;
        margin-left:0;
        width:90%;
    }
}